.leftPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  overflow: hidden;
}

.invalid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  opacity: 0.6;
}
